parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        # Orchestra Testbench magic methods
        - '#Call to an undefined method Orchestra\\Testbench\\TestCase::#'
